<footer>
    <span class="title">Advent of code</span>
    <div class="navigation">Navigation placeholder</div>
    <div class="link-icons">
        <a class="aoc-icon" (click)="copyEmail()" href="javascript:void(0)">mail</a>
        <a class="aoc-icon" href="https://github.com/abeccaro/advent-of-code" target="_blank">github</a>
        <a class="aoc-icon" href="https://www.paypal.com/paypalme/alexbeccaro" target="_blank">coffee</a>
    </div>
    <div class="copyright">Copyright 2023. All rights reserved</div>
</footer>
