:host {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.problem-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 16px 0 0 32px;

    .problem-panel {
        display: flex;
        align-items: center;
        cursor: pointer;
        border: 0;
        background-color: var(--color-background-lighter);
        padding: 16px;
        width: 100%;
        color: white;
        text-align: left;
        text-decoration: none;

        &:hover {
            background-color: var(--color-background-lightest);
        }
    }
}

.no-problems {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin: 64px 0;
    color: var(--color-text-secondary);

    .aoc-icon {
        font-size: 80px;
    }
}
